<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
<div class="columns is-mobile is-vcentered" style="height: 80vh">
  <div class="column is-10 is-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="link" type="text" placeholder="Link">
            <span class="icon is-small is-left">
              <i class="fas fa-link"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="title" type="text" placeholder="Title">
            <span class="icon is-small is-left">
              <i class="fas fa-book"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="hashtag" type="text" placeholder="Hashtag">
            <span class="icon is-small is-left">
              <i class="fas fa-hashtag"></i>
            </span>
          </p>
        </div>
        <div class="buttons is-right">
          <span class="button is-primary is-large" @click="post()">Post</span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { request, GraphQLClient } from 'graphql-request'

var client = new GraphQLClient('graphql', {
  headers: {
    Authorization: 'Bearer ' + app.jwt,
  }
})

  export default {
    data: () => ({
      link: '',
      title: '',
      hashtag: '',
    }),

    methods: {
      async post() {
        if (app.jwt) {
	  client = new GraphQLClient('graphql', {
	    headers: {
	      Authorization: 'Bearer ' + app.jwt,
	    }
	  })
          console.log(app.jwt)
	  const query = `mutation ($u:String!, $t:String!) {
	    createPostJWT(url: $u, title: $t)
	  }`
	  const variables = {
	    u: this.link,
	    t: this.title,
	    h: this.hashtag,
	  }
          client.request(query, variables).then(data => console.log(data))
	  this.$router.push('/')
	}
      }
    }
  }
</script>

