<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
  <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item" style="padding-left: 1.5em">
        <a class="title is-3" @click="$router.push('/')">
          <i class="icon is-medium fas fa-burn"></i>
          <span>Anancus</span>
        </a>
      </div>
        <div class="navbar-item is-hidden-desktop">
          <a class="button is-medium is-white tooltip is-tooltip-bottom" data-tooltip="Home">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
          </a>
          <a class="button is-medium is-white tooltip is-tooltip-bottom" data-tooltip="Local Content">
            <span class="icon">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </a>
          <a class="button is-medium is-white tooltip is-tooltip-bottom" data-tooltip="Federated Content">
            <span class="icon">
              <i class="fas fa-globe"></i>
            </span>
          </a>
        </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
	<div class="navbar-item">
          <div class="control has-icons-left has-icons-right">
            <input class="input is-medium" type="text" placeholder="Search" />
            <span class="icon is-right">
              <i class="fas fa-search"></i>
            </span>
          </div>
	</div>
      </div>

      <div class="navbar-end buttons">
        <div class="navbar-item">
          <a class="button is-medium is-white tooltip is-tooltip-bottom" data-tooltip="Home">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
          </a>
          <a class="button is-medium is-white tooltip is-tooltip-bottom" data-tooltip="Local Content">
            <span class="icon">
              <i class="fas fa-map-marker-alt"></i>
            </span>
          </a>
          <a class="button is-medium is-white tooltip is-tooltip-bottom" data-tooltip="Federated Content">
            <span class="icon">
              <i class="fas fa-globe"></i>
            </span>
          </a>
        </div>

        <div class="navbar-item" style="width: 25em; padding-right: 2em">
          <a class="button is-outlined is-link has-text-weight-bold is-uppercase is-fullwidth" v-if="!jwt" @click="$router.push('/login')">Log in</a>
          <a class="button is-link has-text-weight-bold is-uppercase is-fullwidth" v-if="!jwt" @click="$router.push('/signup')">Sign up</a>
          <a class="button is-danger has-text-weight-bold is-uppercase is-fullwidth" v-if="jwt" @click="$router.push('/createPost')">
	    <span class="icon">
	      <i class="fas fa-plus"></i>
	    </span>
	    <span>Create</span>
	  </a>
<div class="dropdown is-right is-hoverable" v-if="jwt">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span class="icon is-small">
        <i class="fas fa-cog" aria-hidden="true"></i>
      </span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a class="dropdown-item" @click="$router.push('/settings')">
        <span class="icon is-small">
          <i class="fas fa-cog" aria-hidden="true"></i>
        </span>
        <span>Settings</span>
      </a>
      <a class="dropdown-item" @click="signout()">
        <span class="icon is-small">
          <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
        </span>
        <span>Sign Out</span>
      </a>
    </div>
  </div>
</div>
        </div>
	</div>
      </div>
    </div>
  </nav>
</template>

<script>
import Cookies from 'js-cookie';
  export default {
    data () {
      return {
        jwt: null
      }
    },
    created() {
      app.jwt = Cookies.get('anancus')
      this.jwt = app.jwt
    },
    methods: {
      signout() {
        Cookies.remove('anancus')
        app.jwt = Cookies.get('anancus')
        this.jwt = app.jwt
	this.$router.push('/')
      }
    }
  }
</script>
