<!--
Copyright 2018 Vi Jay Suskind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
<div class="columns is-mobile is-vcentered" style="height: 80vh">
  <div class="column is-10 is-offset-1">
    <div class="card">
      <div class="card-content">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input is-large" v-model="username" type="text" placeholder="Username*">
            <span class="icon is-small is-left">
              <i class="fas fa-user-alt"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="password" type="password" placeholder="Password*">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input is-large" v-model="repeatpassword" type="password" placeholder="Password* (repeat)">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input is-large" v-model="email" type="text" placeholder="Email address (optional)">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>
        <label class="checkbox">
          <input type="checkbox" v-model="terms">
          I agree to the <a @click="$router.push('/documents/terms-and-conditions')">terms and conditions</a>
        </label>
	<br/>
        <label class="checkbox">
          <input type="checkbox" v-model="terms">
          I agree to the <a @click="$router.push('/documents/privacy-policy')">privacy policy</a>
        </label>
        <div class="buttons is-right">
          <span class="button is-primary is-large" @click="signup()">Signup</span>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { request, GraphQLClient } from 'graphql-request'
const client = new GraphQLClient('graphql', { headers: {} })

  export default {
    data () {
      return {
        username: '',
        password: '',
        repeatpassword: '',
        email: '',
        terms: false,
      }
    },

    methods: {
      signup() {
        const query = `mutation ($u:String!, $p:String!) {
          createUser(username: $u, password: $p)
        }`
        var variables = {
          u: this.username,
          p: this.password,
        }
        client.request(query, variables).then(data => console.log(data))
      },
    },
  }
</script>

