<template>
  <section class="section">
    <div class="container">
      <NavigationDrawer />
      <PrivacyPolicyComponent />
    </div>
  </section>
</template>

<script>
import PrivacyPolicyComponent from '@/components/PrivacyPolicyComponent.vue';
import NavigationDrawer from '@/components/NavigationDrawer.vue';

export default {
  name: 'terms',
  components: {
    PrivacyPolicyComponent,
    NavigationDrawer,
  }
}
</script>
